# Archivos auxiliares de LaTeX
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc

# Configuraciones y Archivos Temporales del Agente IA
.agents/
docs/specs/

# --- FLUTTER Y DART ---
# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code (Opcional, pero ignorado por defecto)
# .vscode/

# Flutter/Dart/Pub
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Android
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
android/app/google-services.json
